.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .formField {
    min-width: 500px;
  }

  .table {
    min-width: 1000px;
  }

  .contactButton {
    margin: 15px;
  }