<div class="header">
    <img src="https://www.metrotransit.org/img/nextrip.jpg">
</div>

<div class="content">
    <!-- <mat-button-toggle-group name="byRouteStop" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group> -->
    <h1>Real Time Departures</h1>

    <mat-form-field appearance="fill" class="formField">
        <mat-label>Select route</mat-label>
        <mat-select [(value)]="route" (selectionChange)="getDirections()">
            <mat-option *ngFor="let route of routes" [value]="route">{{route.description}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="formField" *ngIf="route != null">
        <mat-label>Select direction</mat-label>
        <mat-select [(value)]="direction" (selectionChange)="getStops()">
            <mat-option *ngFor="let direction of directions" [value]="direction">{{direction.text}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="formField" *ngIf="direction != null">
        <mat-label>Select stop</mat-label>
        <mat-select [(value)]="stop" (selectionChange)="getTimepointDepartures()">
            <mat-option *ngFor="let stop of stops" [value]="stop">{{stop.text}}</mat-option>
        </mat-select>
    </mat-form-field>

    <table *ngIf="departures!.length > 0" mat-table [dataSource]="departures" class="mat-elevation-z8 table">

        <ng-container matColumnDef="route">
            <th mat-header-cell *matHeaderCellDef> Route </th>
            <td mat-cell *matCellDef="let element"> {{element.route}} </td>
        </ng-container>

        <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef> Destination </th>
            <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
        </ng-container>

        <ng-container matColumnDef="departs">
            <th mat-header-cell *matHeaderCellDef> Departs </th>
            <td mat-cell *matCellDef="let element"> {{element.departureText}} </td>
        </ng-container>

        <!-- Disclaimer column -->
        <ng-container matColumnDef="disclaimer">
            <td mat-footer-cell *matFooterCellDef colspan="2">
                <button (click)="showMore()" mat-button color="primary">
                    <mat-icon aria-hidden="false">{{icon}}</mat-icon>
                    Departures</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
    </table>

    <a mat-raised-button color="primary" class="contactButton" routerLink="/contact-us"
        routerLinkActive="active">Contact Us</a>

</div>